@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/ClashDisplay-Variable.ttf') format('opentype');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/Outfit-Variable.ttf') format('opentype');
  }

  @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/Satoshi-Variable.ttf') format('opentype');
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  a {
    @apply text-white no-underline;
  }
  /* #endregion  /**======== Typography =========== */

  * {
    @apply m-0;
    @apply p-0;
    box-sizing: border-box;
  }

  body {
    @apply bg-darkSecondary;
  }

  .body-app {
    background-image: url('/svg/WatermarkRight.svg'),
      url('/svg/WatermarkLeft.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 23%, 0% 87%;
    background-size: 20em;
  }

  .layout {
    /* 1100px */
    max-width: 80rem;
    @apply mx-auto w-11/12;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  .text-glow {
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
  }
}
